@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100, 800;
  font-display: optional;
  src: url(/fonts/InterVar.woff2) format("woff2");
}

@layer base {
  a {
    @apply underline;
    @apply text-green-500;
  }
}

html {
  min-width: 300px;
  scroll-behavior: smooth;
}

.project {
  margin-bottom: 80px;
}

.project .project-content {
  position: relative;
  z-index: 1;
  grid-area: 1 / 1 / -1 / 7;
}

.project:nth-of-type(2n + 2) .project-content {
  @apply col-project-detail;
  text-align: right;
}

.project:nth-of-type(2n + 2) .project-image {
  grid-column: 1 / 8;
}

.project-content .project-content__description {
  box-shadow: 0 20px 30px -20px rgba(2, 12, 27, 0.7);
  padding: 40px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.project .project-image {
  position: relative;
  grid-area: 1 / 6 / -1 / -1;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.project .project-image:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .project .project-content,
  .project .project-image {
    grid-area: 1 / -1;
  }

  .project:nth-of-type(2n + 2) .project-content {
    grid-column: 1 / -1;
    text-align: left;
  }

  .project:nth-of-type(2n + 2) .project-image {
    grid-column: 1 / -1;
  }

  .project-content .project-content__description {
    background-color: #11182799 !important;
    border-radius: 0;
    padding-left: 0;
  }
}

/** Code snippets styling */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #011222;
  color: #1abc9c;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.token.punctuation,
.token.plain-text {
  color: #fff;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #1abc9c;
}

.token.boolean,
.token.number {
  color: #fff;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #fff;
}

.token.attr-name {
  color: #3498db;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #fff;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #ef6306;
}

.token.keyword {
  color: #3498db;
}

.token.imports {
  color: #1abc9c;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.mdx-marker {
  border-left: 3px solid #1abc9c;
  background-color: rgba(26, 66, 103, 0.5);
}
