.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff;
  position: relative;
  z-index: 1;
  flex-grow: 5;
}
